pipeline/ProjetV2_ETL_Dim.json
{
	"name": "ProjetV2_ETL_Dim",
	"properties": {
		"activities": [
			{
				"name": "ForEach_DM_RefEmp",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "dataflow_RefEmploye",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow_RefEmploye",
									"type": "DataFlowReference",
									"parameters": {
										"Year_Month": {
											"value": "'@{item().YEAR_MONTH}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT YEAR_MONTH\n  FROM [dbo].[STG_RefEmploye]\nUNION \nSELECT DISTINCT YEAR_MONTH\n  FROM [dbo].[STG_EXT_RefEmploye]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlSink_STG_EXT_RefEmploye",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-10-05T15:37:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}