pipeline/ProjetV2_Staging.json
{
	"name": "ProjetV2_Staging",
	"properties": {
		"activities": [
			{
				"name": "GetFileNames",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "SP_INIT_STG_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachRecupFilesOnpremToBlob",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SrcFile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile_RefEmploye",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_RefEmploye",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_RefEmploye').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If ConditionFactOrDim",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().name,'EXT_RefEmploye')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data_D_RefEmploye_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Year_Month",
														"value": {
															"value": "@substring(item().name,13,7)",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "Matricule",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Matricule",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Date_Naissance",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Date_Naissance",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "ID_Metier",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "ID_Metier",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "ID_Etablissement",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "ID_Etablissement",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "ID_TypeContrat",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "ID_TypeContrat",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "Salaire_Annuel_th",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Salaire_Annuel_th",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 6,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "Year_Month",
															"type": "String"
														},
														"sink": {
															"name": "YEAR_MONTH",
															"type": "String",
															"physicalType": "nvarchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SrcFileDynamique",
												"type": "DatasetReference",
												"parameters": {
													"FileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "AzureSqlSink_STG_RefEmploye",
												"type": "DatasetReference"
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data_EXT_RefEmploye",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Year_Month",
														"value": {
															"value": "@substring(item().name,17,7)",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "Matricule",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Matricule",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Date_DebutContrat",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Date_DebutContrat",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Date_FinContrat",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Date_FinContrat",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Nbre_HeuresWTh_Jour",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Nbre_HeuresWTh_Jour",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Year_Month",
															"type": "String"
														},
														"sink": {
															"name": "YEAR_MONTH",
															"type": "String",
															"physicalType": "nvarchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SrcFileDynatxt",
												"type": "DatasetReference",
												"parameters": {
													"FileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "AzureSqlSink_STG_EXT_RefEmploye",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "Copy To Archives Files",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "If ConditionFactOrDim",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SrcFileDynatxt",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ArchivesFiles",
									"type": "DatasetReference",
									"parameters": {
										"FileArchives": "@item().name",
										"RepDate": {
											"value": "@concat(substring(utcnow(),0,4),substring(utcnow(),5,2),substring(utcnow(),8,2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Src File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy To Archives Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "SrcFileDynatxt",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage",
										"type": "LinkedServiceReference"
									},
									"path": "srcprojetv2"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			},
			{
				"name": "SP_INIT_STG_Tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[INIT_TABLES]"
				},
				"linkedServiceName": {
					"referenceName": "SinkAzureSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Filter_RefEmploye",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNames').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'RefEmploye')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_F_Employe",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNames').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'F_Employe')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_F_Employe",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_F_Employe",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_F_Employe').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy STG F_Employe",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "Year_Month",
											"value": {
												"value": "@substring(item().name,25,7)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DateMois",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DateMois",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Matricule",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Matricule",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Salaire_ReelMensuel",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Salaire_ReelMensuel",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "Nbre_HeuresWReelMensuel",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Nbre_HeuresWReelMensuel",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "Year_Month",
												"type": "String"
											},
											"sink": {
												"name": "YEAR_MONTH",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SrcFileDynamique",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlSink_STG_F_Employe",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy To Archives Files_copy",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy STG F_Employe",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SrcFileDynatxt",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ArchivesFiles",
									"type": "DatasetReference",
									"parameters": {
										"FileArchives": "@item().name",
										"RepDate": {
											"value": "@concat(substring(utcnow(),0,4),substring(utcnow(),5,2),substring(utcnow(),8,2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Src File_copy",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy To Archives Files_copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "SrcFileDynatxt",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage",
										"type": "LinkedServiceReference"
									},
									"path": "srcprojetv2"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Files On Prem",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SrcFilesOnPrem",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachRecupFilesOnpremToBlob",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files On Prem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files On Prem').output.childitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Files To Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SrcFilesOnPremDynamique",
									"type": "DatasetReference",
									"parameters": {
										"FilesName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SrcFile",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"FolderArchives": {
				"type": "String",
				"defaultValue": "20201006"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-10-06T15:00:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}